---
layout: default
---
<div id="main">

<nav><ul>
  <li><img src={{site-url}}"/img/drsf-logo-black.png" alt="Logo" style="height: 65px; vertical-align: middle;"/></li>
  {% for node in site.categories.2016 reversed %}
    {% capture id %}{{ node.id | remove:'/' | downcase | prepend:'id'}}{% endcapture %}
    <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
  {% endfor %}
</ul></nav>

{% for page in site.categories.2016 reversed %}
  {% capture id %}{{ page.id | remove:'/' | downcase | prepend:'id' }}{% endcapture %}
  <div id="{{id}}" class="section p-{{id}}">
    {% if page.icon %}
    <div class="subtlecircle sectiondivider imaged">
      <img src="{{page.icon}}" alt="section icon" />
      <h5 class="icon-title">{{ page.title }}</h5>
    </div>
    {% elsif page.fa-icon %}
    <div class="subtlecircle sectiondivider faicon">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
      </span>
      <h5 class="icon-title">{{ page.title }}</h5>
    </div>
    {% endif %}
    <div class="container {{ page.style }}">
      {{ page.content }}
    </div>
  </div>
{% endfor %}

<div id="footer" class="section text-white">
  <div class="container">
    {% capture foottext %} {% include footer.md %} {% endcapture %}
    {{ foottext | markdownify }}
  </div>
</div>
</div>

{% include analytics.html %}
