html *
{
     font-family: 'Open Sans', sans-serif; 
}

p {
     line-height: 1.4;
     font-size: 20px;
}

.btn {
     text-decoration: none;
}

.fa {
    font-family: FontAwesome;
}

.back{
    font-size:300% !important;
    color: #DDDDDD;
    padding-right: 2%;
    padding-top: 5px;
    position: relative;
    top: 7px;
}
